.button{
  font-size: 14px;
  line-height: 171%;
  border-radius: 2px;
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  display: grid;
  place-items: center;
  transition: all 0.3s;

  &.active{
    background:  var(--light-100);
    color: var(--dark-900);
  }
  &:hover{
    background: var(--dark-500);
  }
  &:focus{
    outline: 2px solid var(--primary-700);
  }
}