
.email_block{
  width: 234px;
  display: inline-block;
  margin-bottom: 36px;
  text-align: left;

  & > *:not(:last-child){
    margin-bottom: 24px;
  }


}
.button_wrapper{
 &> div{
   width: 100%;

  }
 button{
   width: 100%;
 }
}
.popup_text{
  margin-bottom: 18px;
}

