
.overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--dark-900);
    opacity: 0.5; // Прозрачность ТОЛЬКО для фона
  }

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  outline: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &.xs {
    width: 378px;
  }

  &.sm {
    width: 438px;
  }

  &.md {
    width: 486px;
  }

  &.lg {
    width: 644px;
  }

  &.xl {
    width: 972px;
  }
  & .card{
    background-color: var(--dark-300);
    border: 1px solid var(--dark-100);

    min-height: auto;
  }
 & .description{
   opacity: 0;
   visibility: hidden;
   position: absolute;
 }
}

.popup_header{
  padding:  12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 & + hr{
    height: 1px;
    width: 100%;
    background-color: var(--dark-100);
  }
}

