
.overlay {
  position: fixed;
  inset: 0;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--dark-900);
    opacity: 0.5; // Прозрачность ТОЛЬКО для фона
  }

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: var(--dark-100);

  &.sm{

  }
  &.md{

  }
  &.lg{

  }
}