.wrapper {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.size-24 {
  width: 24px;
  height: 24px;
}
.size-36 {
  width: 36px;
  height: 36px;
}
.size-48 {
  width: 48px;
  height: 48px;
}
.size-192 {
  width: 192px;
  height: 192px;
}
.size-204 {
  width: 204px;
  height: 204px;
}
