.login {
  display: flex;
  justify-content: center;
  margin-top: 24px;

  .wrapper {
    flex: 0 0 378px;
    padding: 24px;
    background-color: var(--dark-500);
    text-align: center;
  }

  .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.8;
    /* color:  var(--light-100);*/
    margin-bottom: 14px;
  }

  .button_icon_group {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    margin-bottom: 44px;

    button {
      line-height: 0;
    }
  }

  .input_group {
    margin-bottom: 20px;

    & > *:not(:last-child) {
      margin-bottom: 44px;
    }
    & > div {
      text-align: left;
    }
  }

  .checkbox_wrapper {

    display: flex;
    align-items: center;
    column-gap: 8px;
    justify-content: center;
    margin-bottom: 18px;

    span {
      font-size: 12px;
      line-height: var(--line-height-snug);

      a {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: var(--primary-300);
      }
    }
  }

  .button_wrapper {
    margin-bottom: 16px;

    & > div {
      width: 100%;

      button {
        flex: 1;
      }
    }
  }
.signin{
  background-color: transparent;
}
  .question {
    display: block;
    margin-bottom: 4px;
  }
}
