
.wrapper {
  position: relative;
  transition: all .3s;



  &.left {
    input {
      padding-left: 48px;
    }

  }

  &.right {
    input {
      padding-right: 48px;
    }
  }

  & input {

    width: 100%;
    border-radius: 2px;
    border: 1px solid var(--dark-100);
    outline: 1px solid transparent;
    transition: inherit;
    color: var(--light-100);
    padding: 6px 12px;


    &::selection {
      background-color: rgb(5,57,163) !important;
    }

    //style for выделения текста
    /*&::-moz-selection {
      background-color: var(--dark-300);
    }*/


  }

  & input:hover {
    border-color: var(--light-900);
  }

  & input:active {
    color: var(--light-100);
    border-color: var(--light-100);
    outline-color: transparent;
    background-color: var(--dark-500);

    &::placeholder {
      color: var(--light-100);
    }
  }

  & input::placeholder {
    color: var(--light-900);
    transition: inherit;

  }

  /*& input:not(:placeholder-shown) {
    color: red;
  }*/

  ///

  & input:disabled {
    color: inherit;
    cursor: not-allowed;
    border-color: var(--dark-100);

    &:active {
      background-color: transparent;
    }

    &::placeholder {
      color: inherit;
      -webkit-text-fill-color: var(--light-900); //radix placeholder чёрный
    }
  }

  & input:focus {
    outline: 1px solid var(--primary-500);
    border-color: var(--primary-500);

    &:active {
      outline-color: transparent;
      border-color: var(--light-100);
    }
  }

  & input:focus + div {
    color: var(--light-100);
  }





  & .children_wrapper {
    color: var(--light-900);
    cursor: pointer;
    position: absolute;
    line-height: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  & .left {
    left: 12px;
  }

  & .right {
    right: 12px;
  }

 & .sub_title {
    color: var(--light-900);
    position: absolute;
    top: 0;
    left: 2px;
    transform: translateY(-100%);
    font-size: 14px;
    line-height: 171%;
  }

 & .error_message {
    color: var(--danger-500);
    position: absolute;
    bottom: 0;
    left: 2px;
    transform: translateY(100%);
    font-size: 14px;
    line-height: var(--line-height-relaxed);
  }


  &.disabled {
    cursor: not-allowed;
    color: var(--dark-100);


    &:hover {
      border-color: var(--dark-100);
    }

    &:active {

      background-color: transparent;
    }

    & input:active {
      color: inherit;
    }

    & > .sub_title {
      cursor: not-allowed;
    }

    svg {
      cursor: not-allowed;
      color: var(--dark-100);
    }

    .sub_title {
      color: inherit;
    }
  }

  &.error{
    input {
      &, &:hover, &:active {
        border-color: var(--danger-500);
      }

      &:not(:active):focus {
        border-color: var(--primary-500);

        outline: 1px solid var(--primary-500);
      }
    }
  }

  svg {
    transition: all .3s;
  }
}


.slot_button {
  line-height: 0;
  color: inherit;
}