.item {
  display: flex;
  align-items: center;

  & > button {
    display: flex;
    align-items: center;
    column-gap: 12px;
    transition: 0.15s ease-out color;

    &:focus-visible,
    &:hover {
      transition: 0.15s ease-out color;
      color: var(--primary-500);
    }
  }
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
