.container {
  display: flex;
  flex-direction: column;

}

.errorLabel {
  margin-top: 13px;
  font-weight: 400;
  font-size: 10px;
  color: #f00;
}

.container.errorBorder {
  width: max-content;
  padding: 8px 7px;
  border: 1px solid #f00;
}