.close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30px, -28px);
  line-height: 0;
  z-index: 10;
  @media screen and (max-height: 450px) {
    transform: translate(30px, -5px);
  }
  @media screen and (max-width: 380px) {
    transform: translate(25px, -5px);
  }
}

.hidden_title {
  width: 0;
  height: 0;
}

.scroll {
  /*overflow-y: scroll;
  height: 562px;*/
}

.wrapper {
  height: 562px;
  display: flex;
  overflow-y: auto;
  @media screen and (max-width: 768px) {
    /* display: block;*/
    flex-direction: column;
    width: 82vw;
    height: 90vh;
  }

  & > div > div {
    padding: 0 24px;
    @media screen and (max-width: 768px) {
      padding: 0 12px;
    }
  }

  & .image_wrapper {
    flex: 0 0 50%;
    padding-bottom: 55.8%;
    position: relative;
    @media (max-width: 768px) {
      flex: 0 0 35%;
      padding-bottom: 15.8%;
    }
  }

  & .comments_block {
    flex: 50% 1 1;
    display: flex; /////
    flex-direction: column; ////
    overflow-y: auto;
    & > div {
      position: relative;
    }

    & > div:not(:last-of-type) {
      &:before {
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--dark-100);
      }
    }

    & .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 12px;
      padding-bottom: 12px;

      button {
        line-height: 0;
      }

      & .user {
        display: flex;
        align-items: center;
        column-gap: 12px;
      }
    }
  }

  .skeleton_main_image {
    position: absolute !important;
    height: 100% !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.verify_text {
  margin-bottom: 30px;
}
