.close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30px, -28px);
  line-height: 0;
  z-index: 10;
  @media screen and (max-height: 450px) {
    transform: translate(30px, -5px);
  }
  @media screen and (max-width: 380px) {
    transform: translate(25px, -5px);
  }
}
.hidden_title {
  width: 0;
  height: 0;
}

.wrapper {
  height: 562px;

  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: 82vw;
    height: 90vh;
  }
  & > div > div {
    padding: 0 24px;
    @media screen and (max-width: 768px) {
      padding: 0 12px;
    }
  }
  & .image_wrapper {
    flex: 50% 0 0;
    padding-bottom: 55.8%;
    background: #2d3d0c;
    position: relative;
    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & .comments_block {
    flex: 50% 1 1;
    & > div {
      position: relative;
    }
    & > div:not(:last-of-type) {
      &:before {
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--dark-100);
      }
    }
    & .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 12px;
      padding-bottom: 12px;
      button {
        line-height: 0;
      }
      & .user {
        display: flex;
        align-items: center;
        column-gap: 12px;
      }
    }
    & .scroll {
      padding-bottom: 8px;
      & .comments {
        height: 335px;
        padding-top: 20px;

        & > div:not(:last-of-type) {
          margin-bottom: 15px;
        }
      }
    }

    & .engagement_info {
      padding-top: 12px;
      padding-bottom: 7px;
      & .icons_wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        & .icons_group {
          display: flex;
          column-gap: 24px;
          button {
          }
        }
      }
      & .social_activity {
        display: flex;
        column-gap: 12px;
        margin-bottom: 5px;
        & .last_likes {
          display: flex;
          padding-left: 4px;
          div:first-child {
            z-index: 3;
          }
          div:nth-child(2) {
            z-index: 2;
          }
          div:last-child {
            z-index: 1;
          }
          div {
            position: relative;
            margin-left: -8px;
          }
        }
      }
      & .date {
        color: var(--light-900);
      }
    }
    & .add_comment {
      padding-top: 5px;
      padding-bottom: 5px;
      @media screen and (max-width: 768px) {
        padding: 5px;
      }
      & .add_comment_wrapper {
        display: flex;
        justify-content: space-between;
        column-gap: 8px;
        & > div > button {
          padding: 0 8px;
          font-size: 14px;
        }
        & > input {
          width: 100%;
          flex-grow: 1;
        }
      }
    }
  }
}

.verify_text {
  margin-bottom: 30px;
}

.comment {
  display: flex;
  column-gap: 24px;

  justify-content: space-between;
  @media screen and (max-width: 768px) {
    column-gap: 12px;
  }
  .section {
    display: flex;
    column-gap: 12px;
    flex: 95% 1 1;
  }
  .avatar_wrapper {
    padding: 5px 0;
  }
  .comment_text {
    flex-grow: 1;
    & .url {
      font-weight: 700;
      font-size: 14px;
      color: inherit;
    }
    & .comment_information {
      display: flex;
      column-gap: 12px;
      color: var(--light-900);

      padding-top: 5px;
      @media screen and (max-width: 350px) {
        & span p {
          font-size: 11px;
        }
      }
    }
  }
  .heart_wrapper {
    padding: 15px 0;
    line-height: 0;
    button {
      line-height: 0;
    }
    .heart {
      color: var(--danger-500);
    }
  }
}
