.engagement_info {
  & .wrapper {
    padding-top: 12px;
    padding-bottom: 7px;
  }
  &.not_is_auth {
    & .wrapper {
      padding-bottom: 26px;
    }
  }
  & .icons_wrapper {
    display: flex;

    justify-content: space-between;
    margin-bottom: 20px;
    & .icons_group {
      display: flex;
      column-gap: 24px;
      button {
      }
    }
  }
  & .social_activity {
    display: flex;
    column-gap: 12px;
    margin-bottom: 5px;
    & .last_likes {
      display: flex;
      padding-left: 4px;
      div:first-child {
        z-index: 3;
      }
      div:nth-child(2) {
        z-index: 2;
      }
      div:last-child {
        z-index: 1;
      }
      div {
        position: relative;
        margin-left: -8px;
      }
    }
  }
  & .date {
    color: var(--light-900);
  }
}
