.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 0 48px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.image {
  width: 234px;
  height: 228px;
  border-radius: 3px;
  object-fit: cover;
}
