.container {
  max-width: 970px;
  margin: 36px 0 48px 24px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 204px;
  height: 204px;
  border-radius: 50%;
  object-fit: contain;
}

.info {
  width: 730px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.username {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.btn {
  padding: 6px 24px;
  background-color: #333;
  color: white;
  font-weight: 600;
  border-radius: 4px;
}

.accent {
  font-weight: 700;
}

.items {
  display: flex;
  gap: 100px;
  margin-bottom: 23px;
}

.item {
  width: 82px;
}

p .link {
  color: blue;
  text-decoration: underline;
  text-underline-offset: 3px;
}
