.description {
  display: flex;
  column-gap: 12px;

  .description_avatar_wrapper {
    padding: 5px 0;
  }
  .description_text {
    flex: 1 1 100%;
    & .scroll {
      max-width: 345px;
    }
    & .url {
      font-weight: 700;
      font-size: 14px;
      color: inherit;
    }
    & .comment_information {
      display: flex;
      column-gap: 12px;
      color: var(--light-900);

      padding-top: 5px;
    }
  }
}
