.wrapper {
  position: relative;
  width: 100%;
  //background-color: var(--dark-500);

  & .title {
    font-size: 14px;
    line-height: 171%;
    color: var(--light-900);

    &.disabled {
      color: var(--dark-100);
    }
  }

  & .textareaWrapper {
    outline: none;

    textarea {
      width: 100%;
      min-height: 84px;
      padding: 6px 12px;
      border-radius: 2px;
      background-color: var(--dark-500);

      font-size: 16px;
      line-height: 150%;
      color: var(--light-900);
      border: 1px solid var(--dark-100);
      outline: none;
      resize: none;
      transition: all 0.3s;

      &::placeholder {
        color: var(--light-900);
      }

      &:hover {
        border: 1px solid var(--dark-100);
        color: var(--light-900);
      }

      &:focus {
        border: 1px solid var(--primary-700);
        outline: 1px solid var(--primary-700);

        color: var(--light-100);
      }

      &:active {
        border: 1px solid var(--light-100);
        color: var(--light-100);
      }

      &:disabled {
        border: 1px solid var(--dark-100);
        color: var(--dark-100);
        background-color: var(--dark-500);
        cursor: not-allowed;
        opacity: 1;
      }

      scrollbar-width: thin; /* Firefox */
      scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);

      &::-webkit-scrollbar-button:single-button {
        display: none !important;
        width: 0;
        height: 0;
        background: transparent;
      }

      /* Для Firefox */
      scrollbar-width: thin;
      scrollbar-color: var(--dark-300) var(--scrollbar-track);

      /* WebKit-стилизация (Chrome, Safari, Edge) */
      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      &::-webkit-scrollbar-track {
        background: var(--scrollbar-track);
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--dark-300);
        border-radius: 4px;
        &:hover {
          background: var(--light-900);
        }
      }
    }

    &.error {
      textarea {
        border: 1px solid var(--danger-500) !important;
        outline: none !important;
      }
    }
  }

  .errorMessage {
    color: red;

    textarea {
      font-size: 14px;
      line-height: 171%;
      color: var(--danger-500);
    }
  }
}
