.checkbox  {
    display: flex;
    column-gap: 10px;
    align-items: center;
    width: fit-content;
}

.Root {
    all: unset;
    width: 18px;
    height: 18px;
    border: 2px solid #EDF3FA;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    &::before {
        content: "";

        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 0;
        height: 0;

        border-radius: 50%;

        transition: ease-in 0.2s;
    }

    &:hover::before {
        width: 36px;
        height: 36px;
        background-color: #333333;
    }

    &:active::before {
        width: 36px;
        height: 36px;
        background-color:  #333333;
    }

    &:focus-visible::before {
        width: 36px;
        height: 36px;
        background-color:  #171717;
    }

    &:disabled {
        pointer-events: none;
        color:  #4c4c4c;
        border: 2px solid  #4c4c4c;

        & + .label {
            color:  #46515e;
        }
    }

    &[data-state="checked"] {
        border: 2px solid  #ffffff;

        &:disabled {
            background-color:  #4c4c4c;
            border: 2px solid  #4c4c4c;
        }
    }
}

/*.Indicator {*/
/*    color: #7ec33e;*/
/*}*/

/*.Label {*/
/*    color: white;*/
/*    padding-left: 15px;*/
/*    font-size: 15px;*/
/*    line-height: 1;*/
/*}*/
