.card {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 378px;
  height: fit-content;

  display: flex;
  flex-direction: column;

  padding: 24px !important;
  background: var(--dark-500);

  .h1 {
    text-align: center;
  }

  .formDescription {
    color: var(--light-900);
    margin-top: 7px;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 37px;
    margin-bottom: 24px;
  }

  .buttonPrimary {
    width: 100% !important;
    margin-top: 17px;
  }

  .buttonWrapper {
    display: flex;
    flex-direction: column;

    .buttonText {
      width: 100% !important;
      margin-bottom: 37px;
    }
  }

  .recaptcha {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .alternativeContent {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
  }
}
